@font-face {
  font-family: "e-Ukraine Head Light";
  src: url(../../assets/fonts/e-Ukraine-Light.otf);
}

@font-face {
  font-family: "e-Ukraine Head Regular";
  src: url(../../assets/fonts/e-Ukraine-Regular.otf);
}

@font-face {
  font-family: "e-Ukraine Head Medium";
  src: url(../../assets/fonts/e-Ukraine-Medium.otf);
}

%text-font {
  font-family: "e-Ukraine Head Medium";
}

.box {
  position: relative;
  width: 307px;
  height: 413px;
  background-color: #f5f5f8;
  border-radius: 8px;
  @media screen and (max-width: 1366px) {
    width: 250px;
    height: 350px;
  }
  @media screen and (max-width: 600px) {
    box-sizing: border-box;
    width: 307px;
    height: 413px;
  }
}

.heart {
  position: absolute;
  top: 21px;
  right: 21px;
}

.dishProduct {
  position: absolute;
  top: 37px;
  right: 46px;
  &:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  @media screen and (max-width: 1366px) {
    top: 37px;
    right: 37px;
  }
  img {
    @media screen and (max-width: 1366px) {
      width: 185px;
      height: 135px;
    }
  }

  @media screen and (max-width: 600px) {
    top: 37px;
    right: 46px;
  }
  img {
    @media screen and (max-width: 600px) {
      width: 232px;
      height: 155px;
    }
  }
}

.dishName {
  width: 266px;
  position: absolute;
  top: 262px;
  right: 20px;
  @extend %text-font;
  font-size: 18px;
  line-height: 22px;
  text-align: start;
  @media screen and (max-width: 1366px) {
    width: 215px;
    top: 210px;
    font-size: 14px;
    line-height: 18px;
  }

  @media screen and (max-width: 600px) {
    width: 266px;
    top: 262px;
    font-size: 18px;
    line-height: 22px;
  }
}

.dishDescription {
  width: 266px;
  position: absolute;
  top: 293px;
  right: 20px;
  text-align: start;
  font-family: "e-Ukraine Head Light";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #a2a3a6;
  @media screen and (max-width: 1366px) {
    width: 215px;
    top: 235px;
    font-size: 14px;
    line-height: 18px;
  }

  @media screen and (max-width: 600px) {
    width: 266px;
    top: 293px;
    font-size: 14px;
    line-height: 20px;
  }
}

.dishBuy {
  position: absolute;
  top: 331px;
  left: 20px;
  width: 267px;
  height: 62px;
  background-color: #ff8051;
  border-radius: 8px;
  border: none;
  @extend %text-font;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  &:hover {
    cursor: pointer;
    transform: scale(0.98);
    background-color: #25282b;
  }
  img {
    transform: translateY(4px);
  }
  @media screen and (max-width: 1366px) {
    top: 280px;
    left: 15px;
    width: 220px;
    height: 50px;
    font-size: 14px;
    line-height: 17px;
  }

  @media screen and (max-width: 600px) {
    top: 331px;
  left: 20px;
  width: 267px;
  height: 62px;
    font-size: 14px;
    line-height: 17px;
  }
}
