.slick-prev:before {
  content: url("../../assets/prev.svg");
}

.slick-next:before {
  content: url("../../assets/next.svg");
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 40%;
}

.slick-prev {
  left: -28px;
  z-index: 6;
}

.slick-next {
  left: 930px;
  z-index: 6;
}

.slick-slide img {
  display: inline;
}
