.slick-prev:before {
  content: url("../../assets/prev.svg");
}

.slick-next:before {
  content: url("../../assets/next.svg");
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 40%;
}

.slick-prev {
  left: -30px;
  z-index: 6;
  @media screen and (max-width:1280px) {
    left:-15px;
  }
  @media screen and (max-width:1024px) {
    left: -5vw;
  }
}

.slick-next {
  left: 930px;
  z-index: 6;
  @media screen and (max-width:1280px) {
    left:735px;
  }
  @media screen and (max-width:1024px) {
    left:calc(100% - 11vw);
  }
}

.slick-slide img {
  display: inline;
}



