%text-font-1 {
  font-family: "e-Ukraine Head";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

%text-font-2 {
  font-family: "e-Ukraine Head";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

%text-font-3 {
  font-family: "e-Ukraine Head";
  font-style: normal;
  font-weight: 500;
}

.orderBox {
  position: absolute;
  top: 116px;
  left: 398px;
}

.orderTitle {
  @extend %text-font-3;
  font-size: 24px;
  line-height: 29px;
  color: #25282b;
}

form {
  margin-top: 25px;
  input{
    padding-left: 10px;
  }
  textarea{
    padding-left: 10px;
    padding-top: 5px;
  }
}

.telephone,
.name {
  @extend %text-font-1;
  color: #25282b;
  input {
    width: 205px;
    height: 40px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #a2a3a6;
    @extend %text-font-2;
    font-weight: 400;
    color: #25282b;
  }
}

.contacts {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.address {
  margin-top: 30px;
  @extend %text-font-1;
  color: #25282b;
  input {
    width: 500px;
    height: 40px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #a2a3a6;
    @extend %text-font-2;
    font-weight: 400;
    color: #25282b;
  }
}

.comment {
  margin-top: 30px;
  @extend %text-font-1;
  color: #25282b;
  textarea {
    width: 500px;
    height: 100px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #a2a3a6;
    @extend %text-font-2;
    font-weight: 400;
    color: #25282b;
  }
}

.orderButton {
  width: 374px;
  height: 62px;
  margin: 58px 0 73px 0;
  background: #ff8051;
  border-radius: 8px;
  border: none;
  @extend %text-font-2;
  font-weight: 500;
  color: #ffffff;

  &:hover {
    cursor: pointer;
    transform: scale(0.98);
    background: #25282B;
  }
}

.modal {
  width: 750px;
  height: 600px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  top: 45px;
  background-color: #ff8051;
  border-radius: 8px;
  @extend %text-font-3;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  p {
    width: 600px;
  }
  button {
    width: 374px;
    height: 62px;
    margin: 58px 0 73px 0;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #25282b;
    @extend %text-font-3;
    font-size: 22px;
    line-height: 17px;
    color: #25282b;

    &:hover {
      cursor: pointer;
      transform: scale(0.98);
    }
  }
}
