.wrapper {
  position: relative;
}

.title_1 {
  position: absolute;
  top: 57px;
  left: 40px;
  font-family: "e-Ukraine Head";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #25282b;
}

.text_1 {
  position: absolute;
  top: 146px;
  left: 40px;
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #a2a3a6;
}

.sliderButton {
  width: 207px;
  height: 52px;
  position: absolute;
  top: 240px;
  left: 40px;
  background: #ff8051;
  border-radius: 8px;
  border: none;
  font-family: "e-Ukraine Head";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  &:hover{
    background:#25282B;
    transform: scale(0.97);
    cursor: pointer;
  }
}

.title_3{
    color: #FFFFFF;
}
