.all_box {
  position: absolute;
  top: 116px;
  left: 398px;
  @media screen and (max-width:600px) {
    left: 12vw;
    width: 300px; 
    display: flex;
    flex-direction: column;
    
  }
  
}

.flex {
  max-width: 982px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width:600px) {
    margin-bottom: 55px;
    margin-top: 10px;
    
  }
}

.left_text {
  font-family: "e-Ukraine Head";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.right_text {
  font-family: "e-Ukraine Head";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #25282b;
  opacity: 0.4;
}

.grid {
  position: relative;
  margin-top: 30px;
  max-width: 982px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  input {
    width: 200px;
    height: 30px;
    position: absolute;
    top: -58px;
    left: 270px;
    padding-left: 10px;
    outline: 0;
    border:2px solid black;
    border-radius: 8px;
  }
  @media screen and (max-width:600px) {
    grid-template-columns: 1fr ;
    input {
      top: -65px;
      left: 0px;
    }
  }
}

.select {
  display: flex;
}
