.slider {
  position: absolute;
  left: 398px;
  top: 116px;
}

.popularDishes {
  position: absolute;
  left: 429px;
  top: 397px;
  font-family: "e-Ukraine Head";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #25282b;
}
