.slider {
  position: relative;
  left: 398px;
  top: 116px;
}

.popularDishes {
  max-width: 982px;
  position: absolute;
  left: 398px;
  top: 397px;
  font-family: "e-Ukraine Head";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #25282b;
}

.little, .big{
  width: 982px;
}

.little{
 margin-top: 106px;
align-items: center;
}


