.slider {
  // position: relative;
  scroll-margin-top: 115px;
  position: absolute;
  left: 398px;
  top: 116px;
  padding-bottom: 420px;
  @media screen and (max-width:1280px) {
    left:375px;
    max-width: 800px;
  }
  @media screen and (max-width:600px) {
    left: 0;
  }
}

.popularDishes {
  max-width: 982px;
  position: absolute;
  left: 398px;
  top: 397px;

  font-family: "e-Ukraine Head";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #25282b;
  @media screen and (max-width:1280px) {
    top: 340px;
    left: 310px;
  }
  @media screen and (max-width:600px) {
    // left: 20vw;
    position: static;
    left:0;
    width: 100vw;
    margin: 0 auto;
    margin-top: 15vw;
    // top: 22%;
  }
}

.little,
.big {
  width: 982px;
}

.little {
  margin-top: 106px;
  align-items: center;
  @media screen and (max-width:1280px) {
   width: 800px;
   transform: translateX(5px);
  }
  @media screen and (max-width:600px) {
    // transform: translateX(12vw);
    margin: 0 auto;
    // margin-top: 115px;
    margin-top: 45px;
  }
}

.big {
  @media screen and (max-width:1280px) {
    width: 800px;
  }
  @media screen and (max-width:600px) {
    width: 100vw;
  }
}

.little {
  @media screen and (max-width:600px) {
    width: 307px;
  }
}
