%text-font-1 {
  font-family: "e-Ukraine Head";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

%text-font-2 {
  font-family: "e-Ukraine Head";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

%flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.all_box {
  position: absolute;
  top: 116px;
  left: 398px;
  @media screen and (max-width: 600px) {
    left: 12vw;
  }
}

.pageName {
  font-family: "e-Ukraine Head";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #25282b;
}

.grid {
  margin-top: 30px;
  max-width: 982px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.firstLine {
  margin-top: 50px;
  img {
    @media screen and (max-width: 600px) {
      width: 300px;
      height: 5px;
    }
  }
}

.cartFlex {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  @media screen and (max-width: 600px) {
    flex-direction: column-reverse;
    height: 180px;
  }
}

.cartFlexText {
  width: 350px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 600px) {
    width: 300px;
  }
}

.cartFlexRightText {
  @extend %flex;
  p {
    @extend %text-font-1;
    color: #a2a3a6;
  }
}

.cartFlexLeftText {
  @extend %flex;
  p {
    @extend %text-font-1;
    color: #25282b;
  }
}

.cartFlexRightContent {
  width: 205px;
  height: 77px;
  @extend %flex;
  p {
    @extend %text-font-1;
    color: #25282b;
  }
  input {
    width: 205px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #a2a3a6;
    @extend %text-font-2;
    font-weight: 400;
    color: #25282b;
  }
}

.cartButton {
  width: 374px;
  height: 62px;
  margin: 58px 0 73px 0;
  background: #ff8051;
  border-radius: 8px;
  border: none;
  @extend %text-font-2;
  font-weight: 500;
  color: #ffffff;

  &:hover {
    cursor: pointer;
    transform: scale(0.98);
    background: #25282b;
  }

  &:disabled {
    background: #a2a3a6;
  }
  @media screen and (max-width: 600px) {
    width: 270px;
  }
}
