%text-font {
  font-family: "e-Ukraine Head";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

.header {
  background-color: rgb(251, 252, 252);
  position: fixed;
  z-index: 13;
  left: 339px;
  top: 0px;
  max-width: 1100px;
  width: 100%;
  height: 116px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @media screen and (max-width:1366px) {
    width: 870px;  
  }

  @media screen and (max-width:600px) {
    width: 100%;
    left: 0;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
  }
}

.header__leftFlex {
  @extend %text-font;
  font-weight: 500;
  color: #25282b;
  span {
    opacity: 0.4;
  }
  @media screen and (max-width:600px) {
    display: none;
    width: 0px;
  }

}

.header__centerFlex {
  max-width: 330px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  @extend %text-font;
  font-weight: 400;
  color: #25282b;
  @media screen and (max-width:600px) {
    display: none;
    width: 0px;
  }
}

.header__centerFlex li {
  display: inline-block;
  padding: 15px;
  @extend %text-font;
  font-weight: 400;
  a {
    text-decoration: none;
    color: #25282b;
  }
  
}

.header__rightFlex {
  max-width: 270px;
  // width: 100%;
  width: 300px;
  display: flex;
  justify-content: space-between;
  @extend %text-font;
  font-weight: 400;
  @media screen and (max-width:1366px) {
    width: 230px;  
  }
  @media screen and (max-width:600px) {
    width: 230px;
  }
}

.header__rightFlex__button {
  width: 62px;
  height: 62px;
  border-radius: 8px;
  border: none;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  @media screen and (max-width:1366px) {
    width: 54px;  
    height: 54px;
  }
  
  @media screen and (max-width:600px) {
    width: 50px;
    height: 50px;
  }
}

.header__rightFlex__cartButton {
  position: relative;
  width: 119px;
  height: 62px;
  background-color: #ff8051;
  border-radius: 8px;
  border: none;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #25282B;
  }
  span {
    color: #ffffff;
    @extend %text-font;
    font-weight: 500;
    // transform: translateX(30px);
  }
  img{
    transform: translateY(4px);
  }
  @media screen and (max-width:1366px) {
    width: 100px; 
    height: 54px; 
  }
  

  @media screen and (max-width:600px) {
    width: 100px;
    height: 50px;
  }
}

.burgerIcon{
  width: 50px;
  height: 50px;
  display: none;
  @media screen and (max-width:1024px) {
    display: block;
  }
}

// styles for burger menu

.siteBar {
  display: none;
  width: 338px;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (max-width:1024px) {
    width: 100vw;
    background-color: beige;
    display: block;
  }
  z-index: 1400;
}

.logo {
  position: absolute;
  left: 93px;
  top: 36px;
}

.line {
  position: absolute;
  left: 11px;
  top: 221px;
}

.menu {
  width: 288px;
  height: 433px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 25px;
  top: 242px;

  li {
    list-style: none;
    padding-left: 35px;
    font-family: "e-Ukraine Head";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    a {
      text-decoration: none;
      color: #25282b;
      &:hover {
        color: #ff8051;
      }
    }
    img {
      margin-right: 20px;
      transform: translateY(3px);
    }
  }
}

.font {
  position: fixed;
  z-index: -3;
  // top: 500px;
  bottom: 0px;
  width: 338px;
  height: 310px;
  background-image: url("../../assets/fon.png");
}

.burgerClose{
  width: 40px;
  height: 40px;
  display: none;
  transform: translate(15px,35px);
  @media screen and (max-width:1024px) {
    display: block;
  }
}

.burgerOpen{
  width: 50px;
  height: 50px;
  display: none;
  @media screen and (max-width:1024px) {
    display: block;
  }
}

.contacts{
  position: absolute;
  bottom: -100px;
}