%text-font {
  font-family: "e-Ukraine Head";
  font-style: normal;
  font-weight: 400;
}

%flex {
  display: flex;
  justify-content: space-around;
}

.footer {
  width: 1102px;
  height: 386px;
  background-color: #f5f5f8;
  position: absolute;
  left: -58px;
  bottom: 0;
  z-index: 10;
}

.firstFlex {
  @extend %flex;
  margin: 54px 0 24px 0;

  p {
    @extend %text-font;
    font-size: 14px;
    line-height: 17px;
    color: #25282b;
  }
  span {
    @extend %text-font;
    font-size: 12px;
    line-height: 14px;
    color: #25282b;
    opacity: 0.4;
  }
}

.footerLine {
  display: flex;
  justify-content: center;
}

.secondFlex {
  @extend %flex;
  margin: 29px;
  img:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: 0.2s;
  }
  a {
    align-self: center;
  }
}

.bigFooterButton,
.littleFooterButton {
  max-width: 400px;
  width: 100%;
  height: 62px;
  border: 1px solid #25282b;
  border-radius: 8px;
  @extend %flex;
  align-items: center;
  background-color: #f5f5f8;
  p {
    font-family: "e-Ukraine Head";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #25282b;
  }
  &:hover {
    cursor: pointer;
    transform: scale(0.98);
    transition: 0.2s;
    background-color: #ff8051;
  }
}

.littleFooterButton {
  width: 231px;
}

.thirdFlex {
  @extend %flex;
  p {
    @extend %text-font;
    font-size: 14px;
    line-height: 26px;
    color: #25282b;
    opacity: 0.4;
  }
  img:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: 0.2s;
  }
}

.fourthFlex {
  margin-top: 40px;
  @extend %flex;
  align-items: center;
  height: 74px;
  background-color: #f0f0f3;
}
