.siteBar {
  
  width: 338px;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (max-width:1024px) {
   display:none ;
  }
  z-index: 1400;
}

.logo {
  position: absolute;
  left: 93px;
  top: 36px;
}

.line {
  position: absolute;
  left: 11px;
  top: 221px;
}

.menu {
  width: 288px;
  height: 433px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 25px;
  top: 242px;

  li {
    list-style: none;
    padding-left: 35px;
    font-family: "e-Ukraine Head";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    a {
      text-decoration: none;
      color: #25282b;
      &:hover {
        color: #ff8051;
      }
    }
    img {
      margin-right: 20px;
      transform: translateY(3px);
    }
  }
}

.font {
  position: fixed;
  z-index: -3;
  top: 500px;
  width: 338px;
  height: 310px;
  background-image: url("../../assets/fon.png");
}

.burgerIcon{
  width: 50px;
  height: 50px;
  display: none;
  @media screen and (max-width:1024px) {
    display: block;
  }
}